<div id="edit_team" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">チームをエディットする</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class='modal-body'>
			  <%= render 'form', team: @team %>
			</div>
		</div>
	</div>

</div>
