<div id="edit_services" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title"><%= @nurse.present? ? "#{@nurse.name}の給与テーブル" : "サービスの編集" %></h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<% if @nurse.present? %>
                <%= render 'form', service: @service %>
			<% else %>
				<%= render 'index_form', service: @service %>
			<% end %>
		</div>
	</div>

</div>