<% if activity.trackable %>
	がヘルパーが働けない時間をアップデートしました。<br/>
	<span class="activity-important-fields"><%= "#{activity.trackable.nurse.try(:name)   }"  %></span>
	<%= weekday(activity.trackable.start) %><%= activity.trackable.start.strftime("%H:%M") %> ~ <%= activity.trackable.end.strftime("%H:%M") %>
<% else %>
	がその後削除されたヘルパーの働けない時間をアップデートしました。
<% end %>