<% if activity.trackable %>
	がヘルパーが働けない時間を追加しました。<br/>
	<span class="activity-important-fields"><%= "#{activity.trackable.nurse.try(:name)   }"  %></span>
	<%= weekday(activity.trackable.anchor) %><%= activity.trackable.starts_at.strftime("%H:%M") %> ~ <%= activity.trackable.ends_at.strftime("%H:%M") %>
<% else %>
	がその後削除されたヘルパーの働けない時間を追加しました。
<% end %>