@charset "UTF-8";
/* line 1, app/assets/stylesheets/teikyohyo.scss */
.teikyohyo-container {
  page-break-after: always;
  font-size: 0.9em;
}

/* line 6, app/assets/stylesheets/teikyohyo.scss */
html {
  font-family: 'IPAexゴシック', 'IPA Pゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'MS Pゴシック', sans-serif;
}

/* line 10, app/assets/stylesheets/teikyohyo.scss */
.table.table-bordered {
  width: 100%;
  border-collapse: collapse;
}

/* line 15, app/assets/stylesheets/teikyohyo.scss */
.table.table-bordered-pdf > thead > tr > td, .table.table-bordered-pdf > tbody > tr > td {
  border: 0.5px solid black;
  padding: 1px;
  vertical-align: middle;
}

/* line 21, app/assets/stylesheets/teikyohyo.scss */
.table.table-bordered-pdf > tbody > tr {
  page-break-inside: avoid !important;
}

/* line 25, app/assets/stylesheets/teikyohyo.scss */
.table.table-bordered-pdf > tbody > tr > td {
  page-break-inside: avoid !important;
}

/* line 29, app/assets/stylesheets/teikyohyo.scss */
.table.table-centered > thead > tr > td, .table.table-centered > tbody > tr > td {
  text-align: center;
}

/* line 33, app/assets/stylesheets/teikyohyo.scss */
.teikyohyo_title {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 15px;
}

/* line 40, app/assets/stylesheets/teikyohyo.scss */
.teikyohyo-container {
  padding: 5px;
  padding-top: 0;
}

/* line 45, app/assets/stylesheets/teikyohyo.scss */
.teikyohyo_1_body {
  margin-top: 15px;
}

/* line 49, app/assets/stylesheets/teikyohyo.scss */
.gray_row {
  background-color: #eee;
}

/* line 53, app/assets/stylesheets/teikyohyo.scss */
.teikyohyo-count-discrepancy::after {
  content: '(!)';
  color: red;
}

@page {
  margin: 5mm 5mm 5mm 5mm;
}

/* line 62, app/assets/stylesheets/teikyohyo.scss */
body {
  margin: 0;
  padding: 0;
}
