<div id="new_care_plan" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">新規ケアプラン情報</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<%= render 'form', care_plan: @care_plan %>
		</div>
	</div>

</div>