<div id="edit_private_event" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">自社サービス以外の予定</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div>
				<%= render 'form', private_event: @private_event %>
			</div>

			<% if @activities.present? %>
				<div class="modal-body light-blue-background">
					<div class="appointment-section-title">編集履歴</div>
					<% @activities.each do |activity| %>
						<%= render partial: 'activities/activity', locals: {activity: activity}  %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

</div>
