<div id="new_cancellation_fee" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">キャンセル手当を追加する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

            <%= form_with model: @salary_line_item, url: url_for(controller: 'salary_line_items', action: 'add_cancellation_fee'), id: 'cancellation_fee_form' do |form| %>
			<div class='modal-body'>
              <div class='form-group'>
				<%= form.label :total_wage, '手当', class: 'colibri-form-label' %>
				<%= form.number_field :total_wage, class: 'form-control', id: 'cancellation-fee-field' %>
              </div>
			</div>
            <div class='modal-footer'>
                <div class='btn btn-colibri-light' data-dismiss='modal'>閉じる</div>
                <%= form.submit 'セーブ', class: 'btn btn-info' %>
            </div>
            <% end %>
		</div>
	</div>

</div>