<div id="new_care_manager" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">ケアマネジャーを追加する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<%= render 'form', care_manager_corporation: @care_manager_corporation, care_manager: @care_manager %>
		</div>
	</div>

</div>