が<span class="activity-important-fields"><%= "#{activity.patient_name}様" %></span>のサービスを作成しました<br/>
<span class="activity-important-fields"><%= activity.nurse_name %></span>
<% if activity.trackable.present? %>
	<%= activity.trackable.starts_at.strftime("%-m月%-d日#{weekday(activity.trackable.starts_at)} %-H:%M") %> ~ <%= activity.trackable.ends_at.strftime("%-H:%M") %>
<% end %>