<% if activity.trackable.present? %>
	が<span class="activity-important-fields"><%= activity.trackable.patient.try(:name) %>様</span>のサービスを追加しました<br/>
	<span class="activity-important-fields"><%= activity.trackable.nurse.try(:name) %></span><br/>
	<%= activity.trackable.starts_at.strftime("%-m月%-d日#{weekday(activity.trackable.starts_at)} %-H:%M") %> ~ <%= activity.trackable.ends_at.strftime("%-H:%M") %>
<% else %>
	がその後削除されたサービスを追加しました。
<% end %>