<table class='table table-striped'>
  <thead>
    <tr>
      <th>ファイル名</th>
      <th>状況</th>
    </tr>
  </thead>
  <tbody>
    <% scans.each do |scan| %>
      <tr>
        <th><%= scan.teikyohyo.file.filename %></th>
        <th><%= scan_status(scan) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
