<div id="new_scan" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">提供表から読み込む</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class='modal-body'>
              <div class='new-scan-form-container'>
				<%= render 'form', scan: @scan %>
              </div>
              <div class='planning-scans-index'>
                <%= render 'index', scans: @scans %>
              </div>
			</div>
		</div>
	</div>

</div>
