
<div id="colibri-covid">
    <div id="colibri-covid-text">
        <div>
            <%= image_tag('danger_icon.svg', width: '60px') %>
        </div>
        <div>
            新型コロナウィルスと戦う皆様へ。訪問介護事業所のテレワーク対策特設ページを用意しました。
        </div>
    </div>
    <p style="width:150px;margin-left:auto;margin-right:auto"><a href="/pages/telework" class="btn btn-info btn-centered" style="margin-left:auto;margin-right:auto">詳細はこちら</a></p>
</div>