<div class='colibri-merits-subsection middle-blue-background align-text-center'>
    <h2 class="colibri-home-subsection-title" style="margin-bottom:70px">Colibri行動指針</h2>
    <div style="margin-bottom:40px">
        <p style="margin-bottom:30px"><span style="font-weight:bold">「痛みはあるか」</span> 皆様の業務上の課題を噛み砕いて理解し、より痛みの激しいものから解決していきます。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「時間を生むか」</span> 全ての判断軸は、その機能によって皆様の「時間」を生み出せるかどうかです。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「本当に必要か」</span> 既存の業務慣習を素人目線から眺め、皆様と積極的に議論し、変化させます。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「シンプルであるか」</span> 不要な機能は削除し、使いやすさに集中します。</p>
        <p style="margin-bottom:30px"><span style="font-weight:bold">「圧倒的か」</span> 業界が覆るほどに、気持良く使いやすいものを追求していくため、完成はありません。</p>
    </div>
</div>

<div class="middle-blue-background contact-us-button-container">
    <%= link_to '無料体験を申請する', new_contact_form_path, class:'btn btn-info btn-lg text-white' %>
</div>