<div id="colibri-banner">
    <h1 id="colibri-banner-text">一緒に素晴らしいツールを作りませんか？<br/>日々カレンダーをいじるだけで、全てが終わる全く新しい介護ソフトです。</h1>
</div>

<div class="colibri-home-subsection white-background"></div>
<div class="colibri-home-subsection light-blue-background"></div>
<div class="colibri-home-subsection white-background"></div>
<div class="colibri-home-subsection light-blue-background"></div>
<div class="colibri-home-subsection white-background"></div>
<div class="colibri-home-subsection light-blue-background"></div>


<%= render 'layouts/footer' %>