<div id="colibri-banner">
    <h1 id="colibri-banner-text">職人しかシフト記録できないじゃん。。。</h1>
</div>

<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">目がチカチカする1111111提供表</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-content">
            提供表をPDF、写真、その他なんでもいいのでアップすれば、自動でスケジュール化します。あとは訪問ヘルパーを選択するだけ。
        </div>
        <div class="home-subsection-image-container">
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right">色分け用にカラーペン10本追加！</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
        </div>
        <div class="home-subsection-content align-text-right">
            多様な軸から、シフトを把握できるので、カラフルシフトから抜け出せます。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">誰がこの付箋貼ったの？</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-content">
            え、今〇〇さん訪問行っているよ。調整中のサービスや変更・キャンセルとその理由が嫌でも目に付くので、付箋は要りません。
        </div>
        <div class="home-subsection-image-container">
        </div>
    </div>
</div>
<div class="colibri-home-subsection light-blue-background">
    <h2 class="colibri-home-subsection-title align-text-right">空を舞う付箋</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-image-container">
        </div>
        <div class="home-subsection-content align-text-right">
            共有情報がデスクの上や、床に落ちることもありません。
        </div>
    </div>
</div>
<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title ">帰ってきた111111111実績表</h2>
    <div class="home-subsection-content-container">
        <div class="home-subsection-content">
            帰ってきました提供表。1111111、、、あ、ずれた。
        </div>
        <div class="home-subsection-image-container">
        </div>
    </div>
</div>

<div class='colibri-merits-subsection align-text-center'>
    <h2 class="colibri-merits">マニフェスト</h2>
    <div>
        <p>シフトはカレンダー表示であれべき</p>
        <p>変更.キャンセルはすぐに把握できるべき</p>
        <p>シフトから給与を自動計算すべき</p>
    </div>
</div>

<div class='colibri-about-us white-background'>
    <p></p>

    <div class='founders-container'>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>鎌原欣司</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p>介護業界の為に、何ができるかを常に考えていたら、寝言で介護の話をし始めている。</p>
            </div>
        </div>
        <div class='colibri-founder'>
            <div class='colibri-self-photo-container'></div>
            <div class='founder-bio'>
                <p class='founder-bio-important'>ダステレミ</p>
                <p class='founder-bio-important'>慶應義塾大学大学院</p>
                <p></p>
            </div>
        </div>
    </div>
</div>



<%= render 'layouts/footer' %>