<div class="background-transition" style="margin-top:-20px">
    <%= image_tag('pink-wave-top-thin.svg') %>
</div>

<%= render 'colibri_covid' %>

<div class="colibri-home-subsection">
    <div id="colibri-thank-you">
        <div style="font-size:1.3em;text-align:center">
            いつもご利用ありがとうございます！
        </div>
        <div style="text-align:center;margin-top:45px">
            Colibriや介護業界の最新情報をブログで集めています。
            <div style="margin-top:5px"><a href="https://colibri.hatenablog.jp/" target="_blank" class="btn btn-info">ブログへ</a></div>
        </div>
    </div>
</div>

<div class="background-transition">
    <%= image_tag('blue-wave-bottom-thin.svg', width: '100%') %>
</div>

<%= render 'layouts/footer' %>