<div class="colibri-home-subsection white-background">
    <h2 class="colibri-home-subsection-title" style="margin-bottom:20px;margin-top:30px">
        個人情報保護方針    
    </h2>
    <div>
        <p>Colibri(以下、当社)は、個人情報保護の重要性を強く認識し、またユーザーとの信頼関係を今後も恒久的に築いていくため、以下の通り、プライバシーポリシーを定め、ユーザーの個人情報の適切な保護に努めます。</p>
        <p>o 個人情報の取得について</p>
        <p>当社は、偽りその他不正の手段によらず、適正に個人情報を取得します。</p>
        <p>o 個人情報の内容について</p>
        <p>本プライバシーポリシー内の個人情報とは、当社が提供するサービス内でユーザーが入力する、氏名、電話番号、メールアドレス、その他情報など、個人を特定できる情報を指します。</p>
        <p>o 個人情報の利用について</p>
        <p>当社は、個人情報を以下の利用目的の達成に必要な範囲内で利用致します。以下に定めのない目的で個人情報を利用する場合、予めユーザーの同意を得た上で行います。</p>
        <p>• ユーザーが誤操作や、その他思いがけない事象により、情報の紛失された場合の回復</p>
        <p>• 当サービスの一部であるメール等の通知機能</p>
        <p>• 当サービスの変更等のご連絡をメール、お電話等でご連絡するため</p>
        <p>• 当サービスにおけるトラブル解決のため</p>
        <p>• 当サービスをよりご満足頂けるよう改良するため</p>
        <p>o 個人情報の安全管理について</p>
        <p>当社は、取り扱う個人情報の漏洩、滅失または毀損を防止し、安全管理のための措置を適切に実施します。</p>
        <p>o 個人情報の第三者提供について</p>
        <p>当社は、個人情報保護法等の法令に定めのある場合を除き、個人情報を予めユーザーの同意を得ることなく、第三者に提供しません。</p>
        <p>o 個人情報の委託について</p>
        <p>当社は、ユーザーからの同意の後、個人情報の取り扱いの全部または一部を第三者に委託する場合、当該第三者について厳正な調査を実施し、取り扱いを委託された個人情報の安全管理が適切に図られるよう、当該第三者に対する必要かつ適切な監督を実施します。</p>
        <p>o 情報の開示・訂正等について</p>
        <p>当社は、ユーザーから個人情報についての開示の請求がある場合、速やかに開示をします。その際、情報受取側がユーザーであり、かつ個人情報保護における適切な担当者であることが確認できない場合には、開示に応じません。個人情報の内容に誤りがあり、ユーザーから訂正・追加・削除の請求がある場合、当社で調査を実施した上、速やかにこれらの請求に対応します。</p>
        <p>o 本方針の変更について</p>
        <p>本方針の内容は変更される場合がございます。変更後の方針に関しましては、当社が別途定める場合を除き、当サイトに掲載したときから効力が発生するものとします。</p>
    </div>
</div>


<%= render 'layouts/footer' %>