<div class="background-transition" style="margin-top:-20px">
    <%= image_tag('pink-wave-top-thin.svg') %>
</div>


<div class="colibri-home-subsection" stlye="margin-top:30px">
    <div id="colibri-thank-you">
        <div style="font-size:1.3em;text-align:center">
            この度は資料請求を頂き、誠にありがとうございます。<br/>
            Colibriのサポートチームメンバーが連絡致します。少々お待ち下さい
        </div>
        <div style="text-align:center;margin-top:45px">
            Colibriについてさらに読みたい方はこちらへ
            <div style="margin-top:5px"><a style="text-decoration:underline" href="/pages/features">機能詳細ページ</a></div>
            <div style="margin-top:5px"><a style="text-decoration:underline" href="https://colibri.hatenablog.jp/" target="_blank">ブログ</a></div>
            <div style="margin-top:5px"><a style="text-decoration:underline" href="/pages/about_us">自己紹介</a></div>
        </div>
    </div>
</div>

<div class="background-transition">
    <%= image_tag('blue-wave-bottom-thin.svg', width: '100%') %>
</div>

<%= render 'layouts/footer' %>