<div id="edit_wished_slot" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title">働けない時間（リピート）をエディットする</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<%= render 'form', wished_slot: @wished_slot %>
			</div>
		</div>
	</div>

</div>
