<div id="edit_patient" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title"><%= @patient.name %>様をエディットする</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<%= render 'form', patient: @patient %>
		</div>
	</div>

</div>