<div id="new_patient" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">新規<%= client_resource_name(@corporation.business_vertical) %></h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>


			<%= render 'form', patient: @patient %>
		</div>
	</div>

</div>