$('.modal').animate({ scrollTop: 0 }, 'fast')

$('#patient-form-flash').prepend("<div class='alert alert-success'>利用者情報が編集されました。</div>")

$('.alert').delay(3000).fadeOut()

if ($('.activity_back_button').length > 0) {
    $('.activity_back_button').click()
}

if ($('#patient_row_<%= @patient.id %>').length > 0) {
    $('#patient_row_<%= @patient.id %>').empty()
    $('#patient_row_<%= @patient.id %>').html("<%= j render 'patient_row', patient: @patient %>")
}

