$('#<%= @nurse_service_wage.service_id %>_nurse_service_wage').after('<span style="color:#42B97C;margin-left:8px" class="fade-out">セーブ</span><span class="glyphicon glyphicon-ok fade-out" style="color:#42B97C;margin-left:3px;font-size:9px"></span>')
$('.fade-out').delay(4000).fadeOut('slow')