<div id="edit_salary_rule" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">手当を編集する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

            <%= render 'form', salary_rule: @salary_rule %>
		</div>
	</div>

</div>