<div class='colibri-subcontainer-header'>
	<span class='colibri-subcontainer-title'>手当一覧</span>
</div>
<div class='colibri-subcontainer-body'>
  <table class='table table-hover'>
    <thead>
      <th>手当名</th>
      <th>対象従業員</th>
      <th>対象サービス</th>
    </thead>
    <tbody id="salary-rules-table">
      <%= render salary_rules %>
    </tbody>
  </table>
</div>