<div class="phone_activity_container">
    <div class="activity_header">
        <div class="activity_back_button">
            <%= image_tag "back_arrow_white.svg", width: '25px', class: 'activity_back_icon' %>
        </div>
        <div class="activity_title">
            <%= "#{@nurse.name}の編集" %>
        </div>
    </div>
    <div class="activity_body">
        <%= render "form", nurse: @nurse %>
    </div>
</div>