<div id="edit_unavailability" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">自社サービス以外の予定</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<%= render 'form', unavailability: @unavailability %>
			</div>
		</div>
	</div>

</div>
