<div id="edit_post" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">ポストを編集する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div>
				<%= render 'form', post: @post %>
			</div>
		</div>
	</div>

</div>