<div class="post-container">
    <div class="post-header">
        <div class="post-author-wrapper"><%= post.author.name %></div>
        <div class="post-timestamps-wrapper"><%= post.created_at.strftime("%-m月%-d日 %h:%M") %></div>
    </div>
    <div class="post-body">
        <%= simple_format(post.body) %>
    </div>
</div>