$('#unread-count').hide();
$('#mark-posts-as-read-button').hide();
$('#dashboard-posts-header').html("<span class='colibri-subcontainer-title'>掲示板</span>");
$('#dashboard-posts-header-container').append("<%= j link_to '検索', posts_path, class: 'btn btn-sm btn-info text-white' %>");
$('.post-body.unread-post').css("background-color","#defcfc")