<div id="edit_completion_report" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">実施記録の編集</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

            <%= render 'form', completion_report: @completion_report %>

		</div>
	</div>

</div>