// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.activity-wrapper {
	border-bottom: 0.5px solid #aaa;
	font-size: 0.85em;
	color: #4f5b66;
	display: flex;
}

.activity-icon-container {
	padding: 5px;
	padding-top: 13px;
}

.activity-datetime {
	color: #bbb;
}

.activity-important-fields {
	font-weight: bold;
}

.activity-before-update-state {
	color: #aaa;
}