/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require fullcalendar
 *= require scheduler
 *= require daterangepicker
 *= require_self
 */

 @import "bootstrap";


body {
	background-color: #F7F9FE;
}

#colibri-scheduler-nav {
	background-color: #4f5b66;
	display: flex;
	justify-content: space-between;
}

a.colibri-nav-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2em;
}

a:hover {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: right;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#tab-panel {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 2em;
	display: table;
}

ul.nav.nav-tabs {
	list-style: none;
	text-align: center;
	border-bottom: 0px;
}

.colibri-app-menu {
	font-size: 1.6em;
	display: inline;
	font-color: #4f5b66;
	width: 8.5em;
	margin-left: 5px;
	margin-right: 5px;
	padding-right: 0px;
	padding-bottom: 8px;
}

li.colibri-app-menu a.nav-url {
	font-color: #4f5b66;
}

.colibri-app-menu:hover {
	cursor: pointer;
	background-color: transparent;
	border-bottom: 4px solid #ddd;
}

.nav-selected {
	border-bottom: 4px solid #5bc0de;
	font-color: #000;
}

.text-white {
	font-color: white;
}

#planning-menu-container {
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#planning-menu-title {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	color: #4F4F4F;
}

#planning-menu-list {
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	display: table;
}

li.planning-menu-items {
	font-size: 1.4em;
	display: inline;

	width: 13.5em;
	padding-top: 7px;
	padding-bottom: 7px;

	border-bottom: 0.5px solid #aaa;
	border-top: 0.5px solid #aaa;
}

li.planning-menu-items:hover {
	cursor: pointer;
	background-color: #EEF1F9;
	color: black;

}

li.planning-menu-selected {
	background-color: #EEF1F9;
	color: black !important;
}

.date-hidden {
	display: none;
}

#planning-container {
	color: #4F4F4F;
}

.fc-bgevent {
	background-color: #D46A6A !important;
}

.fc-today {
	background-color: white !important;
}

.fc-resource-cell {
	font-weight: normal !important;
}

.fc-time {
	font-size: 0.9em !important;
}

.fc-title {
	font-size: 1.2em !important;
}

tr.clickable-row:hover {
	cursor:pointer;
}


.appointment-occurrence {
	margin-bottom: 5px !important;
	display: flex !important;
}

.appointment-occurrence-date {
	font-weight: bold;
}






