/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require fullcalendar
 *= require scheduler
 *= require daterangepicker
 *= require chosen
 *= require bootstrap-toggle
 *= require jquery-ui
 *= require jquery-ui.structure
 *= require jquery-ui.theme
 *= require_self
 */

 @import "bootstrap";
 @import 'bootstrap/glyphicons';


body {
	background-color: #F7F9FE;
}

.glyphicon {
	font-size: 20px;
	vertical-align: middle;
}

#brand-container {
	display: flex;
}

#logo {
	margin-left: 16px;
	margin-right: 10px;
}

#brand {
	font-size: 1.2em;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin-bottom : 0px;
}

#colibri-scheduler-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #4f5b66;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

a.colibri-nav-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2em;
}

p.colibri-nav-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2em;
	margin-bottom: 0px;
}

p.colibri-nav-link:hover {
	cursor: pointer;
	color: black;
}

.alert {
	position: absolute !important;
	top: 46px !important;
	z-index: 1;
	width: 100%;
	text-align: center;
}

.main-page {
	padding-top: 46px;
}

.show {
    display: block;
}

a {
	color: inherit;
}

a:hover {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: right;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#account-settings-dropdown {
	position: absolute;
	top: 46px;
	right: 0px;
	z-index: 6;
	max-width: 120px;
	background-color: #354553;

}


.account-settings-li {
	padding: 7px 10px;
}

a.account-settings-a {
	color: white;
	display: block;
	width: 100%;
}

#logout-li {
	width: 100%;
	color: white;
	padding: 7px 10px;
	text-align: left;
}

#logout-li:hover {
	cursor: pointer;
	background-color: #4f5b66;
}

li.account-settings-li {
	width: 100%;
	color: white;
	text-align: left;
}

li.account-settings-li:hover {
	cursor: pointer;
	background-color: #4f5b66;
	width: 100%;
}

#tab-panel {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 2em;
	display: table;
}

ul.nav.nav-tabs {
	list-style: none;
	text-align: center;
	border-bottom: 0px;
	padding-top: 5px;
}

.colibri-app-menu {
	font-size: 1.6em;
	display: inline;
	font-color: #4f5b66;
	width: 8.5em;
	margin-left: 5px;
	margin-right: 5px;
	padding-right: 0px;
	padding-bottom: 8px;
}

li.colibri-app-menu a.nav-url {
	font-color: #4f5b66;
}

.colibri-app-menu:hover {
	cursor: pointer;
	background-color: transparent;
	border-bottom: 4px solid #ddd;
}

.nav-selected {
	border-bottom: 4px solid #5bc0de;
	font-color: #000;
}

.text-white {
	font-color: white;
}

.hide {
	display: none;
}

.btn-margin-top {
	margin-top: 10px;
}

.date-hidden {
	display: none;
}

#planning-container {
	color: #4F4F4F;
}

.fc-bgevent {
	background-color: #D46A6A !important;
}

.fc-today {
	background-color: white !important;
}

.fc-resource-cell {
	font-weight: normal !important;
}

.fc-time {
	font-size: 0.9em !important;
}

.fc-title {
	font-size: 1.5em !important;
}

.fc-header-toolbar {
	margin-bottom: 4px !important;
}

.fc-sat { 
	background-color: #E9EEFA;  
}

.fc-sun { 
	background-color: #FFE8E8;  
}

tr.clickable-row:hover {
	cursor:pointer;
}

tr.nurse-clickable-row:hover {
	cursor: pointer;
	min-height: 35px;
}


.appointment-occurrence {
	margin-bottom: 5px !important;
	display: flex !important;
}

.appointment-occurrence-date {
	font-weight: bold;
}




div .fc-scroller {
    max-height: 57vh !important;
}

th {
	font-weight: normal;
}

.table-important-fields {
	font-weight: bold;
}

.print {
	display: none;
}

.font-size-large {
	font-size: 1.4em;
}

.colibri-small-title {
	font-size: 1.8em;
	color: #4f5b66;
}

.appointment-section-title {
	font-size: 1.5em;
	color: #4f5b66;
}

.light-blue-background {
	background: #F7F9FE;
	margin:1px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.required-field {
	color: red;
}

.btn-mid-light {
	background-color: #e4e4e4;
}

.btn-mid-light:hover {
	background-color: #C5C5C5;
}

.scrollbar-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #606E7C;
  border-radius: 10px; }

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  background-color: #606E7C; }

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #b1b1b1; 
}

.fc-event {
    cursor: pointer;
}


@media print {
	.no-print {
		display: none !important;
	}
	.print {
		display: block;
	}

	.print-master-no-view {
		display: none !important;
	}

	#detail-container {
		margin-left: 5px;
	}

	#planning-show-main {
		margin-left: 5px;
	}

	.print-add-margin {
	margin-left: 40px;
	}

	#recurring-appointment-details {
		margin-left : 50px;
	}



	@page {size: auto}

	/* Fullcalendar-related styles */

	
	/* Global Event Restyling
	--------------------------------------------------------------------------------------------------*/
	.fc-event {
	background: #fff !important;
	color: #000 !important;
	page-break-inside: avoid; }

	.fc-event .fc-resizer {
	display: none; }

	span.fc-time {
		font-size: 0.8em !important;
	}

	/* Table & Day-Row Restyling
--------------------------------------------------------------------------------------------------*/
	.fc th,
	.fc td,
	.fc hr,
	.fc thead,
	.fc tbody,
	.fc-row {
	border-color: #ccc !important;
	background: #fff !important; }

	/* don't display any button-related controls */ 
	.fc-button-group,.fc button {
		  display: none;
	}

	/* kill the scrollbars and allow natural height */
	.fc-scroller,
	.fc-day-grid-container,
	.fc-time-grid-container {
	overflow: visible !important;
	height: auto !important; }

	/* kill the horizontal border/padding used to compensate for scrollbars */
	.fc-row {
	border: 0 !important;
	margin: 0 !important; }

  
}










