/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require fullcalendar
 *= require scheduler
 *= require daterangepicker
 *= require bootstrap4-toggle.min
 *= require selectize
 *= require selectize.default
 *= require_self
 */


 @import "bootstrap";
 @import 'bootstrap/glyphicons';

html, body {
	max-width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 transparent; 
  border-radius: 5px;
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}



.glyphicon {
	font-size: 20px;
	vertical-align: middle;
}

.glyphicon.glyphicon-cog:hover, .glyphicon.glyphicon-home:hover, .glyphicon.glyphicon-calendar:hover {
	color: white !important;
}

#brand-container {
	display: flex;
}

#logo {
	margin-left: 16px;
	margin-right: 10px;
}

#brand {
	font-size: 1.2em;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin-bottom : 0px;
}

#colibri-scheduler-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #4f5b66;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

a.colibri-nav-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2em;
}

.colibri-nav-username {
	margin-left: 10px;
}

p.colibri-nav-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2em;
	margin-bottom: 0px;
}

.colibri-nav-link:hover {
	cursor: pointer;
	color: black !important;
}

#account-dropdown-icon {
	margin-left: 3px;
}

#flash {
	position: fixed !important;
	top: 39px !important;
	z-index: 35;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.alert {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 7px;
	padding-bottom: 8px;
	display: inline-block;
	min-width: 400px;
}

.alert.alert-notice {
	background-color: #BEFFB7 !important;
	color: rgb(6, 37, 10) !important;
	border: none;
}

.alert.alert-alert {
	background-color: #FFE878 !important;
	border: none;
}

.main-page {
	padding-top: 46px;
}

.show {
    display: block;
}

a {
	color: inherit;
}

a:hover {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: right;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#account-settings-dropdown {
	position: absolute;
	top: 46px;
	right: 0px;
	z-index: 6;
	max-width: 120px;
	background-color: #354553;

}


.account-settings-li {
	padding: 7px 10px;
}

a.account-settings-a {
	color: white;
	display: block;
	width: 100%;
}

#logout-li {
	width: 100%;
	color: white;
	padding: 7px 10px;
	text-align: left;
}

#logout-li:hover {
	cursor: pointer;
	background-color: #4f5b66;
}

li.account-settings-li {
	width: 100%;
	color: white;
	text-align: left;
}

li.account-settings-li:hover {
	cursor: pointer;
	background-color: #4f5b66;
	width: 100%;
}

#tab-panel {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 2em;
	display: table;
}

ul.nav.nav-tabs {
	list-style: none;
	text-align: center;
	border-bottom: 0px;
	padding-top: 5px;
}

.text-white {
	font-color: white;
}

.hide {
	display: none;
}

.colibri-toggle-switch:hover {
	cursor: pointer;
}

.btn-margin-top {
	margin-top: 10px;
}


#planning-container {
	color: #4F4F4F;
}

.fc-resource-cell {
	font-weight: normal !important;
}

.fc-time {
	font-size: 0.9em !important;
}

.fc-title {
	font-size: 1.7em !important;
}

.fc-header-toolbar {
	margin-bottom: 4px !important;
}

.fc-day-header.fc-sat { 
	color: #118df0 !important;
}

.fc-day-header.fc-sun { 
	color: #ff304f; 
}

td.fc-sun > span.fc-day-number {
	color: #ff304f;
}

td.fc-sat > span.fc-day-number {
	color: #118df0;
}

.fc-today {
	background-color: transparent !important;
}

.fc-day-header.fc-today {
	font-weight: bold;
	color: black;
}

.fc-day-top.fc-today {
	font-weight: bold;
	color: black;
}

tr.clickable-row:hover {
	cursor:pointer;
}

tr.nurse-clickable-row:hover {
	cursor: pointer;
	min-height: 35px;
}

tr.patient-clickable-row:hover {
	cursor:pointer;
}


.appointment-occurrence {
	margin-bottom: 5px !important;
	display: flex !important;
}

.appointment-occurrence-date {
	font-weight: bold;
}

.fc-scroller {
	height: 57vh !important;
}


th {
	font-weight: normal;
}

.table-important-fields {
	font-weight: bold;
}

.print-only {
	display: none;
}

.small-side-margins {
	margin-left: 5px;
	margin-right: 5px;
}

.colibri-small-title {
	font-size: 1.8em;
	color: #4f5b66;
}

.colibri-xs-title {
	font-size: 1.25em;
	color: black;
	padding-bottom: 0px;
}

.appointment-section-title {
	font-size: 1.4em;
	color: #aaa;
	margin-bottom: 20px;
}

.light-blue-background {
	background: #F7F9FE;
	margin:1px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.required-field {
	color: red;
}

.btn-mid-light {
	background-color: #e4e4e4;
}

.btn-mid-light:hover {
	background-color: #C5C5C5;
}

.scrollbar-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px; }

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.colibri-scrollbar-dark::-webkit-scrollbar-track {
    background-color: #606E7C;
}

.colibri-scrollbar-dark::-webkit-scrollbar {
	background-color: #606E7C;
}

.colibri-scrollbar-dark::-webkit-scrollbar-thumb {
	background-color: #97A0A8; 
}

.colibri-scrollbar-light::-webkit-scrollbar-track {
    background-color: white;
}

.colibri-scrollbar-light::-webkit-scrollbar {
	background-color:white;
}

.colibri-scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #DEDDDD; 
}

.fc-event {
    cursor: pointer;
}

.salary_rule {
	cursor: pointer;
}

.service-clickable-row:hover {
	cursor: pointer;
}

.thick-calendar-line {
	border-top: 1.33px solid #BFC4C9;
}

.btn-warning-danger {
	background-color: #FF7007 !important;
	color: white;
	border-color: #FF7007 !important;
}

.btn-warning-danger:hover {
	background-color: #C95500 !important;
	color: white;
	border-color: #9E4300 !important
}

.btn-colibri-light-gray {
	background-color: #97A0A8 !important;
	border-color: #97A0A8 !important;
	color: white;
}

.btn-colibri-light-gray:hover {
	background-color: #748390 !important;
	border-color: #748390 !important;
	color: white;
}

.btn-colibri-light {
	background-color: #f1f3f4;
	border-color: #f1f3f4;
	color: #5f6368;
}

.btn-colibri-light:hover {
	background-color:#CFD9DD;
	border-color: #CFD9DD;
	color: #5f6368;
}

.btn-colibri-light-red {
	background-color: #fc7181 !important;
	border-color: #fc7181 !important;
	color: white;	
}

.btn-colibri-light-yellow {
	background-color: #FFD23F !important;
	border-color: #FFD23F !important;
	color: white;
}

.btn-colibri-light-yellow:hover {
	background-color: #F4BE0C !important;
	border-color: #F4BE0C !important;
	color: white;
}

.btn-colibri-light-red:hover {
	background-color: #f15365 !important;
	border-color: #f15365 !important;
	color: white;
}

.btn-colibri-light-blue {
	background-color: #7AD5DE !important;
	border-color: #7AD5DE !important;
	color: white !important;
}

.btn-colibri-light-blue:hover {
	background-color: #52BCC6 !important;
	border-color: #52BCC6 !important;
	color: white !important;
}

.btn-colibri-light-green {
	background-color: #42CB89 !important;
	border-color: #42CB89 !important;
	color: white;
}

.btn-colibri-light-green:hover {
	background-color: #22BD72 !important;
	border-color: #22BD72 !important;
	color: white;
}

.colibri-glyphicon-container{
	margin: auto;
	margin-top: 8px;
	height: 40px;
	width: 40px;
}

.colibri-radio {
	margin-left: 8px;
}

span.fc-time {
	font-size: 0.8em;
}

.colibri-form-group-flex {
	margin-bottom: 16px;
	display: flex;
}

div.popover-body {
	max-height: 150px !important;
	overflow-y: auto;
}

.modal-subsection-title {
	color: #757575;
	font-size: 1.4em;
	margin-bottom: 15px;
}

.modal-subsection-title-sm {
	color: #757575;
	font-size: 1.2em;
	margin-bottom: 15px;
}

.colibri-form-subsection-separator {
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.btn-pointer:hover {
	cursor: pointer;
}

.page-break {
	page-break-after: always;
}

@media print {

	@page {
		margin: 5mm 5mm 5mm 5mm;
	}

	.no-print {
		display: none !important;
	}
	.print-only {
		display: block;
	}

	.print-master-no-view {
		display: none !important;
	}

	#detail-container {
		margin-left: 5px;
	}

	#planning-show-main {
		margin-left: 5px;
	}

	.print-add-margin {
		margin-left: 40px;
	}

	.fc-title {
		font-size: 1.8em !important;
		font-weight: bold !important;
	}

	#resource-details-button {
		display: none !important;
	}

    .font-size-large {
	    font-size: 1.3em;
	}


	/* Fullcalendar-related styles */

	
	/* Global Event Restyling
	--------------------------------------------------------------------------------------------------*/
	.fc-event {
	background: #fff;
	color: #000 !important;
	page-break-inside: avoid; }
	
	.fc-event.fc-draggable.colibri-edit-requested {
		background-image: repeating-linear-gradient(45deg, #C8F6DF, #C8F6DF 5px, #99E6BF 5px, #99E6BF 10px) !important;
	  -webkit-print-color-adjust: exact;
	}
	
	.fc-event.fc-draggable.colibri-cancelled {
		background-image: repeating-linear-gradient(45deg, #FFBFBF, #FFBFBF 5px, #FF8484 5px, #FF8484 10px) !important;
	  -webkit-print-color-adjust: exact;
	}

	.fc-event .fc-resizer {
	display: none; }

	span.fc-time {
		font-size: 1em !important;
	}

	/* Table & Day-Row Restyling
--------------------------------------------------------------------------------------------------*/
	.fc th,
	.fc td,
	.fc hr,
	.fc thead,
	.fc tbody,
	.fc-row {
	border-color: #ccc !important;
 }



	/* don't display any button-related controls */ 
	.fc-button-group,.fc button {
		  display: none;
	}

	/* kill the scrollbars and allow natural height */
	.fc-scroller,
	.fc-day-grid-container,
	.fc-time-grid-container, #detail-planning-container, #detail-container, #planning-container {
	overflow: visible !important;
	height: auto !important; }

	div .fc-scroller {
		overflow: visible !important;
		height: auto !important;
	}

	/* kill the horizontal border/padding used to compensate for scrollbars */
	.fc-row {
	border: 0 !important;
	margin: 0 !important; }


	/* more visible dates */
	.fc-day-header {
		font-weight: bold;
		font-size: 1.35em;
	}

	.fc-axis {
		width: 7% !important;
	}

	.bolder-calendar-time-axis {
		font-size: 1.25em;
		font-weight: bold;
	}

	/* make event borders thicker */

	.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
		border-width: 2.5px !important;
	}

	.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable {
		border-width: 5px !important;
	}

	/* do not hide background events */
	td.fc-bgevent, div.fc-bgevent {
		-webkit-print-color-adjust: exact !important;
	}

	
	/* making horizontal lines thicker for 9:00 12:00 15:00 18:00 */
	.thick-calendar-line {
	border-top: 3px solid #ccc !important;
	}

	/* hiding now indicator when printing */

	div.fc-now-indicator.fc-now-indicator-arrow, div.fc-now-indicator.fc-now-indicator-line {
		display: none;
	}

	/* some styles for dashboard print */

	#colibri-dashboard-container {
		margin: 0px;
	}

	.colibri-dashboard-container-row {
		height: auto !important;
	}

	.colibri-dashboard-container-row-large {
		height: auto !important;
	}

	.colibri-subcontainer-body {
		height: auto !important;
	}

	.colibri-xs-title {
		font-size: 1.4em;
	}

	#query_date {
		font-weight: bold;
		font-size: 1.3em;
		border: none;
	}

	table { page-break-after:auto; height: auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    td    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
	tfoot { display:table-footer-group }
	
	/* fixing one pager print */

	html, body {
		height: auto;
	}

  
}










