// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dashboard-plannings-container {
    background-color: #606E7C;
	border: 0.5px solid #606E7C;
	display: flex;
	flex-direction: column;
    height: 100%;
	width: 180px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 60px;
}

#new-planning-container {
    margin-bottom: 7px;
	margin-left: 7px;
}

#dashboard-plannings-list {
    overflow-y: auto;
}

#colibri-dashboard-container {
	margin-left: 200px;
	margin-top: 10px;
}



.colibri-dashboard-container-row {
	width: 100%;
	height: 45vh;
	display: flex;
}

.colibri-dashboard-big-container {
	height: 90vh;
	width: 100%;
	display: flex;
}

.colibri-dashboard-subcontainer {
	background-color: white;
	margin: 5px;
	padding: 4px;
	border: 0.5px solid #ccc;
	flex: 1;
}

.subcontainer-column-full-height {
	height: calc(100% - 15px);
}

.subcontainer-column-half-height {
	height:calc(50% - 10px);
}

.colibri-dashboard-container-column {
	height: 100%;
	width: 100%;
}

.colibri-subcontainer-body {
	height: 90%;
	overflow-y: auto;
	overflow-x: auto;
}

.colibri-subcontainer-body-with-footer {
	height: 85%;
	overflow-y: auto;
	overflow-x: auto;
}

.colibri-subcontainer-footer {
	margin-top: 7px;
}

.colibri-subcontainer-header {
	border-bottom: 0.5px solid #ccc;
}



.unseen-activity-count {
	font-size: 0.9em;
	color: #4F4F4F;
}