// Place all the styles related to the nurses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.align-right {
	float: right;
}

#total-salary-label {
	float: right;
	font-weight: bold;
}

#payable-container {
	margin-top: 10px;
	margin-left: 180px;
	margin-right: 5px;
}

#total-salary {
	font-weight: bold;
}

#resource-list-container {
	min-width: 10%;
}

#toggle-patients-nurses {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7px;
}