// Place all the styles related to the nurses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.align-right {
	float: right;
}

#total-salary-label {
	float: right;
	font-weight: bold;
}

#payable-container {
	margin-top: 15px;
	margin-left: 185px;
	margin-right: 5px;
}

#ts {
	display: flex;
	margin-bottom: 20px;
}

#payable-dashboard {
    display: flex;
    justify-content: center;
    align-items: center; 
}

p.payable-dashboard-line {
	margin-bottom: 5px;
}

.payable-dashboard-important {
	font-weight: bold;
	font-size: 1.3em;
}

.payable-dashboard-text-container {
	margin-left: 10px;
}

#payable-charts {
	display: flex;
	margin-bottom: 20px;
}

#total-salary {
	font-weight: bold;
}

#resource-list-container {
	min-width: 10%;
}

#toggle-patients-nurses {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7px;
}

#payable-download-button {
	margin-left: auto;
	margin-right: 0;
}

#payable-table-commands {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.weekend-holiday-provided-service {
	background-color:#E9EEFA ;
}