#colibri-banner {
    height: 90vh;
    background-color: #ff9090;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colibri-banner-text {
    color: white;
    font-size: 2em;
    max-width: 66%;
}

.colibri-home-subsection {
    height: 60vh;
    width: 100%;
}

.white-background {
    background-color: white;
}

.light-blue-background {
    background-color: #e3f8ff;
}