#colibri-pages-nav {
    background: white;
    color: black;
    z-index: 30;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0 4px 2px -2px #ccc;
    -moz-box-shadow: 0 4px 2px -2px #ccc;
    box-shadow: 0 4px 2px -2px #ccc;
}

#colibri-pages-nav > #brand-container > #brand-name {
    color: #393e46 !important;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pages-nav-right {
    display:flex;
    justify-content: center;
    align-items: center;
}

#nav-login-button {
    margin-right: 8px;
    margin-left: 8px;
}

#nav-contact-form-link {
    color: white !important;
}

#colibri-banner {
    height: 95vh;
    background-color: #ff9090;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colibri-banner-text {
    color: white;
    font-size: 2.7em;
    max-width: 66%;
    text-align: center;
}

#presentation-text {
    width:45%;
    padding-top:35px;
}

#colibri-presentation {
    padding: 60px 50px 60px 20px;
    color: #393e46;
    display: flex;
}

.colibri-home-presentation-title {
    font-size: 1.6em;
    line-height: 1.9em;
}

.white-background {
    background-color: white;
}

.light-blue-background {
    background-color: #bbeeff;
}

.middle-blue-background {
    background-color: #9BBDF9;
}

footer {
    background-color: #324e7b;
    color: white;
    padding: 70px 20px 80px 20px;
}

#colibri-footer {
    display: flex;
}

#footer-brand-container {
    width: 30%;
    text-align: center;
}

#footer-brand-name {
    font-size: 1.7em;
    color: #ff9090;
}

.footer-colibri-information-container {
    width: 40%;
    padding-left: 10px;
}

.footer-colibri-information-title {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.colibri-home-subsection {
    color: #393e46;
    padding: 70px 50px 70px 50px;
    width: 100%;
}

.aligned-left-home {
    flex-direction: row-reverse;
 }

.align-text-right-home {
    text-align: right;
}

.home-subsection-content-container {
    margin-top: 30px;
    display: flex;
}

.home-subsection-content {
    width: 50%;
    height: 100%;
}

.colibri-home-subsection-title {
    display: block;
}

.home-subsection-image-container {
    width: 50%;
    height: 100%;
    text-align: center;
}

.colibri-merits-subsection {
    color: white;
    padding: 60px 10px 30px 10px;
}

.colibri-merits-subsection > div {
    margin-top: 30px;
}

.colibri-merits-subsection > div > p {
    font-size: 1rem;
    line-height: 1.6rem;
}

.align-text-center {
    text-align: center;
}



.colibri-merits {
    margin-top: 20px;
    font-size: 1.4em;
}

.colibri-about-us {
    padding: 20px 10px 60px 10px;
}

.colibri-about-us > p {
    text-align: center;
    font-size: 1.3em;
}

.founders-container {
    display: flex;
}

.colibri-founder {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colibri-self-photo-container {
    width: 25%;
}

.founder-bio {
    margin-top: 20px;
    width: 45%;
    min-width: 100px;
}

.founder-bio-important {
    font-size: 1.3em;
}

.home-page-text-box {
    padding: 60px 10px 60px 10px;   
    width: 100%;
}

.home-page-text-box > div {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.contact-us-button-container {
    padding: 20px 10px 60px 10px;
    text-align: center;
}

#colibri-blog-link {
    margin-right:20px;
    font-size:1.2em;
    text-decoration:underline;
}

#shift-issue-details {
    font-size:0.7em;
    max-width:50%;
}

#presentation-images-banner {
    width: 55%;
}

#colibri-logo {
    margin-left:12px;
    margin-top:3px;
}



@media screen and (orientation: portrait) {
    

    #blog-link-container {
        margin-top: 13px;
    }

    #colibri-banner-text {
        max-width:90%;
    }

    .align-text-right-home {
        text-align: left;
    }

    .home-subsection-content {
        width: 100%;
    }

    .home-subsection-content-container {
        flex-direction: column;
    }

    .colibri-merits-subsection > div > p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 2em;
    }

    .home-page-text-box > div {
        max-width: 90%;
    }

    .colibri-self-photo-container {
        width: 50%;
    }

    .founder-bio {
        margin-top: 30px;
        width: 90%;
    }

    .founder-bio > p {
        line-height: 1.3em;
    }

    #footer-brand-name {
        font-weight: bold;
    }


    .home-subsection-image-container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }   
}