// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide-resource {
	display: none;
}

.toggle-active-selected {
	font-weight: bold;
	border-bottom: 2.5px solid #85929E;
	color: #85929E;
}

.toggle-active-element {
	font-size: 1em;
	color: #85929E;
}

.toggle-active-element:hover {
	font-weight: bold;
	border-bottom: 2px solid #5f6368;
	color: #5f6368;
	cursor: pointer;
}

#patient-dashboard {
	height: 165px;
}

.patient-dashboard-panel {
	border: 0.5px solid #ccc;
	border-radius: 3px;
}

#payable-menu {
	display: none;
}

.patient-left-panel {
	width:calc(75% - 5px);
	margin-right:5px;
}

.patient-right-panel {
	width:34%
}

.patient-dashboard-panel-title {
	margin: 3px;
	border-bottom: 0.5px solid #ccc;
}

.patient-dashboard-panel-body {
	height: 135px;
	overflow-y: auto;
	margin: 3px
}