// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide-resource {
	display: none;
}



#resource-list-container {
	height: 100%;
	width: 100px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 50px;
	overflow-x: hidden;
	padding-top: 60px;
}