// Place all the styles related to the plannings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#planning-menu-container {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #354553;
	overflow-x: hidden;
	padding-top: 60px;
}

#planning-show-main {
	margin-left: 55px;
	margin-right: 5px;
}

#planning-menu-title {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	color: #4F4F4F;
}

#planning-menu-list {
	font-size: 2em;
	display: block;
}


li.planning-menu-items {
	font-size: 2em;
	display: inline;
	padding-top: 13px;
	padding-bottom: 13px;
	color: #94979A;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

li.planning-menu-items:hover {
	cursor: pointer;
	color: white;
}

li.planning-menu-selected {
	color: white;
}

#planning-container {
	display: flex;
}

.calendar {
	max-width: 100%;
}

.nurse_calendar {
	max-widht: 100%;
}

#main-planning-header {
	margin-top: 7px;
}


#planning-activity-module {
	padding-top: 10px;
	padding-left: 10px;

}

.planning-activity-module-title {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

#index-container {
	max-width: 80%;
	margin-left: auto;
	margin-right:auto;
}

#index-table-container {
	margin-top: 18px;
}

#activity-show-button-container {
	text-align: right;
	margin-bottom: 10px;
}

#detail-container {
	display: flex;
	margin-left: 175px;
	margin-right: 5px;
}

#detail-planning-title {
	display: flex;
	justify-content: space-between;
}

#detail-planning-container {
	margin-top: 10px;
	margin-left: 7px;
}

#resource-list-container {
	background-color: #EEF1F9;
	border: 0.5px solid #aaa;
}

.resource-list-element {
	margin-bottom: 4px;
	border-bottom: 0.5px solid #aaa;
	padding-left: 7px;	
}

.resource-list-element:hover {
	cursor: pointer; 	
}

#nurse-filter-zentai_ {
	width: 400px;
}

#patient-filter-zentai_ {
	width: 400px;
}

#master-nurse-filter-zentai_ {
	width: 400px;
}

#master-patient-filter-zentai_ {
	width: 400px;
}

#duplicate-button-wrapper {
	margin-top: 10px;
	margin-bottom: 5px;
}

#no-duplicate-button-wrapper {
	text-align: center;
}

#toggle-patients-nurses-wrapper {
	margin-bottom: 7px;
	margin-left: 7px;
}