// Place all the styles related to the plannings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#planning-menu-container {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #354553;
	padding-top: 60px;
}



#planning-show-main {
	margin-left: 55px;
	margin-right: 5px;
}

#planning-menu-title {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	color: #4F4F4F;
}

#planning-menu-list {
	font-size: 2em;
	display: block;
}

#address-phone-container {
	color: #4F4F4F;
	margin-top: 3px;
	font-size: 0.9em;
}


li.planning-menu-items {
	font-size: 2em;
	display: inline;
	padding-top: 13px;
	padding-bottom: 13px;
	color: #94979A;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

li.planning-menu-items:hover {
	cursor: pointer;
	color: white;
}

li.planning-menu-selected {
	color: white;
}

#planning-container {
	display: flex;
}

.calendar {
	max-width: 100%;
}

.nurse_calendar {
	max-width: 100%;
}

#main-planning-header {
	margin-top: 7px;
}


#planning-activity-module {
	padding-top: 10px;
	padding-left: 10px;

}

.planning-activity-module-title {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	display: block;
}

.planning-nurse-module-title {
	font-weight: bold;
	font-size: 1.5em;
}

.master-title {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	display: block;
}


#index-container {
	max-width: 80%;
	margin-left: auto;
	margin-right:auto;
}

#index-table-container {
	margin-top: 18px;
}

#activity-show-button-container {
	text-align: right;
	margin-bottom: 10px;
}

#detail-container {
	display: flex;
	margin-left: 175px;
	margin-right: 5px;
}

#detail-planning-title {
	display: flex;
	justify-content: space-between;
}

#detail-planning-container {
	margin-top: 10px;
	margin-left: 7px;
}

#resource-list-container {
	background-color: #606E7C;
	border: 0.5px solid #606E7C;
	display: flex;
	flex-direction: column;
	overflow:hidden;
}

#settings-menu-container {
	height: 100%;
	width: 230px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 50px;
	padding-top: 60px;
	background-color: #606E7C;
	border: 0.5px solid #606E7C;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow:hidden;
}

#resource-container {
	overflow-y: auto;
}

#nurses-resource, #patients-resource {
	padding-bottom: 30px;
}

.nurses-resource-subsection-title {
	margin-top: 8px;
	margin-left: 3px;
	margin-right: 3px;
	border-bottom: 0.5px solid #D6D9DC;
	color: white;
	font-size: 0.95em;
}


.resource-list-element, a.planning-list-element.colorize, .master-list-element {
	padding-bottom: 3px;
	padding-top: 3px;
	margin-bottom: 0;
	padding-left: 10px;	
	font-size: 0.9em;
	color: #D6D9DC;
}

.resource-list-element:hover, a.planning-list-element.colorize:hover {
	color: white;
	cursor: pointer;
}

.resource-list-element.resource-selected {
	background-color: #39ACCD;
	color: white;
}

.master-list-element.master-element-selected {
	background-color: #39ACCD;
	color: white;
}


.master-list-element:hover {
	cursor: pointer; 
	color: white;	
}

#nurse-filter-zentai_ {
	width: 400px;
}

#patient-filter-zentai_ {
	width: 400px;
}

#master-nurse-filter-zentai_ {
	width: 400px;
}

#master-patient-filter-zentai_ {
	width: 400px;
}

#duplicate-button-wrapper {
	margin-top: 10px;
	margin-bottom: 5px;
}

#no-duplicate-button-wrapper {
	text-align: center;
}

#toggle-patients-nurses-wrapper {
	margin-bottom: 7px;
	margin-left: 7px;
}

.appointment-comment {
	margin-bottom: 4px;
	font-size: 1em;
}


#patient_filter_zentai__chosen, #nurse_filter_zentai__chosen{
	width: 250px !important;
}

.chosen-container {
	font-size: 1em !important;
}

ul.chosen-results {
	font-size: 1em !important;
}

#delete-planning-action {
	margin-bottom: 30px;
	text-align: center;
}

.settings-list-element {
	font-size: 1.2em;
	color: #ccc !important;
	margin-bottom: 8px;
	padding-bottom: 3px;
}



.settings-list-element:hover {
	font-size: 1.2em;
	color: white;
	cursor: pointer;
}

.settings-list-element-selected {
	color: white !important;
}

.settings-list-url {
	color: #ccc !important;
}

.settings-list-url:hover {
	color:white !important;
}

#settings-list {
	margin-right: 20px;
	margin-left: 20px;
}

.settings-list-element {
	width: 100%;
	border-bottom: solid #ccc 0.5px;
}

#settings-menu-list {
	text-align: right;
	margin-top: 15px;
}

#settings-container {
	margin-left: 305px;
	margin-top: 20px;
	margin-right: 160px;
}

#printing-settings-container {
	margin-left: 305px;
	margin-top: 20px;
	max-width: 500px;	
}

#planning-options {
	margin-bottom: 30px;
}

.colibri-xs-title {
	color: #4F4F4F;
	font-size: 1.15em;
	font-weight: bold;
	padding-bottom: 5px;
}

#resource-detail-header {
	display: flex;
	justify-content: space-between;
}

#resource-name-wrapper {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	padding-right: 10px;
	padding-top: 10px;
}

.resource-title-selectable:hover {
	cursor: pointer;
	color : #D6D9DC;
}

#nurse-conflict-confirm {
	display: none;
}

#appointment-comments-container {
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

#appointment-comments {
	margin-left: 0px;
}

.appointment-comments-title {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

#description-container {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.colibri-form-subsection {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
}


.colibri-form-subsection-title {
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 0.5px solid #ddd;
	margin-bottom: 4px;
	font-size: 1.15em;
	color: black;
}