// Place all the styles related to the plannings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#planning-view-container {
	display: flex;
}

#planning-menu-container {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #354553;
	padding-top: 60px;
}



#planning-show-main {
	margin-left: 55px;
	margin-right: 5px;
}

#planning-menu-title {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	color: #4F4F4F;
}

#planning-menu-list {
	font-size: 2em;
	display: block;
}

#address-phone-container {
	color: #4F4F4F;
	margin-top: 3px;
	font-size: 0.9em;
}


li.planning-menu-items {
	font-size: 2em;
	display: inline;
	padding-top: 13px;
	padding-bottom: 13px;
	color: #94979A;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

li.planning-menu-items:hover {
	cursor: pointer;
	color: white;
}

li.planning-menu-selected {
	color: white;
}

#planning-container {
	display: flex;
}

.calendar {
	max-width: 100%;
}

.nurse_calendar {
	max-width: 100%;
}

#main-planning-header {
	margin-top: 7px;
	display:flex;
	flex-direction: row-reverse;
}


#planning-activity-module {
	padding-top: 10px;
	padding-left: 10px;

}

.planning-activity-module-title {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	display: block;
}

.planning-nurse-module-title {
	font-weight: bold;
	font-size: 1.5em;
}

.master-title {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	display: block;
}


#index-container {
	width: 80%;
	margin-left: auto;
	margin-right:auto;
}

#index-table-container {
	margin-top: 18px;
}

#planning-top-right-action-container {
	text-align: right;
	margin-bottom: 10px;
	display: flex;
}

#see-more-service-category-data:hover {
	cursor:pointer;
}

#detail-container {
	display: flex;
	margin-left: 190px;
	margin-right: 5px;
	height: 100%;
}

#detail-planning-title {
	display: flex;
	justify-content: space-between;
}

#detail-planning-container {
	margin-top: 10px;
	margin-left: 7px;
}

#resource-list-container {
	background-color: #606E7C;
	border: 0.5px solid #606E7C;
	display: flex;
	flex-direction: column;
	overflow:hidden;
	height: 100%;
	width: 130px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 50px;
	overflow-x: hidden;
	padding-top: 60px;
}

#settings-menu-container {
	height: 100%;
	width: 230px;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 50px;
	padding-top: 60px;
	background-color: #606E7C;
	border: 0.5px solid #606E7C;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow:hidden;
}

#resource-container {
	overflow-y: auto;
}

#nurses-resource, #patients-resource {
	padding-bottom: 30px;
}

.nurses-resource-subsection-title {
	margin-top: 8px;
	margin-left: 3px;
	margin-right: 3px;
	border-bottom: 0.5px solid #D6D9DC;
	color: white;
	font-size: 0.95em;
}


.resource-list-element, a.planning-list-element.colorize, .master-list-element {
	padding-bottom: 3px;
	padding-top: 3px;
	margin-bottom: 0;
	padding-left: 10px;	
	font-size: 0.9em;
	color: #D6D9DC;
}

.resource-list-element:hover, a.planning-list-element.colorize:hover {
	color: white;
	cursor: pointer;
}

.resource-list-element.resource-selected {
	background-color: #39ACCD;
	color: white;
}

.master-list-element.master-element-selected {
	background-color: #39ACCD;
	color: white;
}


.master-list-element:hover {
	cursor: pointer; 
	color: white;	
}

#nurse-filter-zentai_ {
	width: 400px;
}

#patient-filter-zentai_ {
	width: 400px;
}

#master-nurse-filter-zentai_ {
	width: 400px;
}

#master-patient-filter-zentai_ {
	width: 400px;
}

#duplicate-button-wrapper {
	margin-top: 10px;
	margin-bottom: 5px;
}

#no-duplicate-button-wrapper {
	text-align: center;
}

#toggle-patients-nurses-wrapper {
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}

.appointment-comment {
	margin-bottom: 4px;
	font-size: 1em;
}


#patient_filter_zentai__chosen, #nurse_filter_zentai__chosen{
	width: 250px !important;
}

.chosen-container {
	font-size: 1em !important;
}

ul.chosen-results {
	font-size: 1em !important;
}

#delete-planning-action {
	margin-bottom: 30px;
	text-align: center;
}

.settings-list-element {
	font-size: 1.2em;
	color: #ccc !important;
	margin-bottom: 8px;
	padding-bottom: 3px;
}



.settings-list-element:hover {
	font-size: 1.2em;
	color: white;
	cursor: pointer;
}

.settings-list-element.settings-list-element-selected > .settings-list-url {
	color: white !important;
}

.settings-list-url {
	color: #ccc !important;
}

.settings-list-url:hover {
	color:white !important;
}

#settings-list {
	margin-right: 20px;
	margin-left: 20px;
}

.settings-list-element {
	width: 100%;
	border-bottom: solid #ccc 0.5px;
}

#settings-menu-list {
	text-align: right;
	margin-top: 15px;
}

#settings-container {
	width: calc(100% - 300px);
	margin-left: auto;
	margin-top: 30px;	
}

#planning-options {
	max-width: 500px;
	margin-bottom: 30px;
}

#printing-options {
	max-width: 340px;
	margin-bottom: 30px;
}

.colibri-xs-title {
	color: #4F4F4F;
	font-size: 1.15em;
	font-weight: bold;
	padding-bottom: 5px;
}

#resource-detail-header {
	display: flex;
	justify-content: space-between;
}

#resource-name-wrapper {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	padding-right: 10px;
	padding-top: 10px;
}

.resource-title-selectable:hover {
	cursor: pointer;
	color : #D6D9DC;
}

#nurse-conflict-confirm {
	display: none;
}

#appointment-comments-container {
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

#appointment-comments {
	margin-left: 0px;
}

.appointment-comments-title {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

#description-container {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.colibri-form-subsection {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
}


.colibri-form-subsection-title {
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 0.5px solid #ddd;
	margin-bottom: 4px;
	font-size: 1.15em;
	color: black;
}

.report-download-wrapper {
	margin-top: 5px;
}

.batch-action-button {
	position: fixed;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
	width: 56px;
	height: 56px;
	border-radius: 50px;
	background: #fc7181;
	bottom: 80px;
	right: 60px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.batch-action-button:hover {
	background: #f15365;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


span.glyphicon.glyphicon-pencil.batch-action-pencil {
	color: white;
	line-height: 40px;
}

.master-reflect-option:hover {
	cursor: pointer;
	color: black !important;
}

p.master-reflect-option {
	margin-bottom: 5px;
}


.glyphicon-action-button {
	color:#85929E;
	font-size:1.2em;
}

.colibri-toggle-switch {
	display: flex;
	padding: 0px !important;
	margin: 0px !important;
	height: 40px;
}

.colibri-toggle-handle {
	padding: 0px !important;
	height: 92%;
	width: 7px;
	margin: -2px 1px 1px 1px;
}

.colibri-handle-left {
	border-radius: 4px 2px 2px 4px !important;
}

.colibri-handle-right {
	border-radius: 2px 4px 4px 2px !important;
}

.colibri-toggle-text-left {
	margin: 6px 12px 6px 18px;
}

.colibri-toggle-text-right {
	margin: 6px 18px 6px 12px;
}

.colibri-bg-green {
	background:
		linear-gradient(90deg, white (2.5px - 1px), transparent 1%) center,
		linear-gradient(white (2.5px - 1px), transparent 1%) center,
		#67DCA4 !important;
	background-size: 2.5px 2.5px !important;
	opacity: 1 !important;
}

.colibri-bg-yellow {
	background:
		linear-gradient(90deg, white (2.5px - 1px), transparent 1%) center,
		linear-gradient(white (2.5px - 1px), transparent 1%) center,
		#FFDA62 !important;
	background-size: 2.5px 2.5px !important;
	opacity: 1 !important;
}

.colibri-bg-red {
	background:
		linear-gradient(90deg, white (2.5px - 1px), transparent 1%) center,
		linear-gradient(white (2.5px - 1px), transparent 1%) center,
		#FD9BA6 !important;
	background-size: 2.5px 2.5px !important;
	opacity: 1 !important;
}

@media print {
	#index-container {
		width: 95%;
	}

	#index-table-container {
		margin: 0px;
	}

}


@media screen and (orientation: portrait) {
	div .fc-scroller {
		overflow: visible !important;
		height: auto !important;
	}
	
	#detail-planning-container, #detail-container, #planning-container {
		overflow: visible !important;
		height: auto !important;
	}

	#colibri-batch-action-button, #colibri-batch-master-action-button {
		height: 90px;
		width: 90px;
		border-radius: 90px;
	}

	span.glyphicon.glyphicon-pencil.batch-action-pencil {
		line-height: 74px;
		font-size: 1.7em;
	}

}



