.post-container {
    padding: 5px;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-author-wrapper {
    font-size: 0.85em;
}

.post-timestamps-wrapper {
    color: grey;
    font-size: 0.85em;
}

.post-body {
    background-color: #fefdca;
    border-radius: 2px;
    padding: 3px 7px 5px 7px;
}