#chosen-select-all-container {
    margin-left: 150px;
}

#chosen_target_services_chosen {
    width: 250px !important;
}

.verified-at-and-by {
    margin-left: 4px;
    color: #4f5b66;
}

.verified-at-and-by:hover {
    color: black;
    cursor: pointer;
}