// Place all the styles related to the RecurringAppointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appointment-occurrence {
	border-bottom: 5px;
	display: flex;
}

.appointment-occurrence-date {
	font-weight: bold;
}