// Place all the styles related to the RecurringAppointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appointment-occurrence {
	border-bottom: 5px;
	display: flex;
}

.appointment-occurrence-date {
	font-weight: bold;
}

#form-options-container {
	background-color:  #F7F9FE;
	margin-left: 1px;
	margin-right: 1px;
	padding: 15px;
}

.form-options-header {
	text-align: center;
	color: #4f5b66;
	padding-bottom: 7px;
}

#form-save {
	display: none;
}

#form-edit-list {
	display: none;
}

#recurring_appointment_nurse_id_chosen, #recurring_appointment_patient_id_chosen {
    width: 130px !important;
}