.teikyohyo-container {
    display: block;
    clear: both;
    page-break-after: always !important;
    page-break-inside: avoid;
    break-after: page !important;
    font-size: 0.9em;
}

html {
  font-family: 'IPAexゴシック', 'IPA Pゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'MS Pゴシック', sans-serif;
}

.table.table-bordered {
    width: 100%;
    border-collapse: collapse;
}

.table.table-bordered-pdf > thead > tr > td, .table.table-bordered-pdf > tbody > tr > td {
    border: 0.5px solid black;
    padding: 1px;
    vertical-align: middle;
}

.table.table-bordered-pdf > tbody > tr {
    page-break-inside: avoid !important;
}

.table.table-bordered-pdf > tbody > tr > td {
    page-break-inside: avoid !important;
}

.table.table-centered > thead > tr > td, .table.table-centered > tbody > tr > td {
    text-align: center;
}

.teikyohyo_title {
    font-size: 1.3em;
    text-align: center;
}

.total_credits {
    font-size:1.5em;
    font-weight: bold;
    text-align: right;
}

.teikyohyo-container {
    padding: 5px;
    padding-top: 0;
}

.teikyohyo_1_body {
    margin-top: 15px;
}

.gray_row {
    background-color: #eee;
}

.dark_gray_cell {
    background-color: #ddd;
}

@page {
	margin: 5mm 5mm 5mm 5mm;
}

body {
    margin: 0;
    padding: 0;
}