<div id="batch_archive_confirm" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">削除されるサービスの確認</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">

            <%= render partial: 'batch_action_appointments_table', locals: {appointments: @appointments} %>
                <div>
					<%= link_to '戻る', new_appointments_batch_archive_path, remote: true, class:'btn btn-light' %>
                    <div class="btn btn-danger text-white" id="batch-archive-confirm-submit" data-submit-path="<%= appointments_batch_archive_path %>">一斉に削除する</div>
                </div>
			</div>
		</div>
	</div>

</div>