<table>
    <thead>
        <th>タイプ</th>
        <th>利用者</th>
        <th>ヘルパー</th>
        <th>日程</th>
    </thead>
    <tbody>
        <% appointments.each do |appointment| %>
            <tr>
                <th><%= appointment.try(:title) %></th>
                <th><%= appointment.patient.try(:name) %></th>
                <th><%= appointment.nurse.try(:name) %></th>
                <th><%= date_and_time(appointment) %></th>
            </tr>
        <% end %>
    </tbody>
</table>