<div id="batch_cancel_confirm" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">キャンセルされるサービスの確認</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
            	<%= render partial: 'batch_action_appointments_table', locals: {appointments: @appointments} %>
            </div>   
			
			<div class='modal-footer'>
				<%= link_to '戻る', new_appointments_batch_cancel_path, remote: true, class:'btn btn-light' %>
                <div class="btn btn-danger text-white" id="batch-cancel-confirm-submit" data-submit-path="<%= appointments_batch_cancel_path %>">キャンセルする</div>
            </div>
		</div>
	</div>

</div>