<div id="edit_appointment" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1  class="colibri-small-title">サービスエディット</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div id='edit-options' style='display:none'>
				<div class="modal-body">
					<div class='btn btn-info text-white btn-block' id='one-day-edit'>この日のみエディットする</div>
					<div class='btn btn-info text-white btn-block' id='recurring-edit' data-recurring-url='<%= "/plannings/#{@planning.id}/recurring_appointments/#{@appointment.try(:recurring_appointment_id)}/edit" %>'>繰り返しをエディットする</div>
				</div>
			</div>

			<div id='edit-appointment-body'>
				<div>
					<%= render 'form', appointment: @appointment %>
				</div>

				<% unless @activities.empty? %>
					<div class="modal-body light-blue-background">
						<div class="appointment-section-title">編集履歴</div>
						<% @activities.each do |activity| %>
							<%= render partial: 'activities/activity', locals: {activity: activity}  %>
						<% end %>
					</div>
				<% end %>
			</div>

		</div>
	</div>

</div>
