<div id="new_batch_delete" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">一斉に削除する</h1>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">

                <%= render 'batch_action_form' %>

                <div>
                    <div id="new-batch-delete-submit" class="btn btn-info text-white">サービスの確認画面へ進む</div>
                </div>
			</div>
		</div>
	</div>

</div>