<p><%= @email %>様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>新しいメールアドレスがセーブされました：<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>新しいメールアドレスがセーブされました： <%= @resource.email %>.</p>
<% end %>
