<div class="activity-wrapper">
	<span class="activity-datetime"><%= activity_creation_date(activity) %></span><br/>
	<span class="activity-important-fields"><%= activity.owner.name %></span><%= render_activity activity %>
</div>