<div class="activity-wrapper">
	<div class="activity-icon-container">
		<%= image_tag(activity_icon(activity)) %>
	</div>
	<div class="activity-body">
		<span class="activity-datetime"><%= activity_creation_date(activity) %></span><br/>
		<span class="activity-important-fields"><%= activity.owner.name %></span><%= render_activity activity %>
	</div>
</div>