<div class="activity-wrapper">
	<div class="activity-icon-container">
		<%= image_tag(activity_icon(activity.try(:key)), size: '39') %>
	</div>
	<div class="activity-body">
		<span class="activity-datetime"><%= resource_creation_date(activity) %></span><br/>
		<span class="activity-important-fields"><%= activity.owner.name %></span><%= render_activity activity %>
	</div>
</div>