<%= render 'layouts/planning_menu' %>
<%= render 'plannings/planning_activities_submenu' %>

<div id="index-container">
	<% @activities.each do |activity| %>
		<%= render partial: 'activities/activity', locals: {activity: activity} %>
	<% end %>
</div>

