.toggleable-subsection-title:hover {
    cursor: pointer;
}

.glyphicon.completion-report-glyphicon {
    font-size:0.7em;
    cursor:pointer;
    margin-left: 4px;
}

.report-checkmark {
    margin-right: 3px;
    padding-bottom: 2px;
    font-size: 8px;
    color: #42B97C;
}

#completion-reports-container {
    width: 100%;
    margin-left: 15px;
}

.report-prefilled-item {
    color: black;
    font-size: 1.15em;
}

.colibri-checkbox {
    width:15px;
    height:15px;
    border-radius: 2px;
}

.colibri-horizontal-menu-item {
    font-size:1.3em;
    text-align:center;
    margin-right:25px;
    color: #85929E;
    line-height: 44px;
}

#japanese-query-date {
    font-size:1.3em;
    text-align:center;
    color: #212529;
    line-height: 44px;
}

.colibri-horizontal-menu-item.item-selected {
    border-bottom: 3px solid #85929E;
}

.colibri-horizontal-menu-item:hover {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 3px solid #85929E;
}

.reportable-information {
    font-size: 1.05em;
}

.completion-report-message-body {
    background-color:#defcfc;
    padding:5px;
    border-radius:5px;
}

.reportable-time-information {
    margin-bottom: 4px;
}

.reportable-nurse-patient-information {
    margin-bottom: 4px;
}