@media screen and (orientation: landscape) and (max-width: 900px), screen and (orientation: portrait) and (max-width: 760px) {
    
    body {
        overflow: hidden;
    }
    
    .activity_large_header {
        background-color: #2B384E;
    }
    
    .activity_subheader {
        background-color: #2B384E;
        display: flex;
        height: 35px;
        line-height: 35px;
        color: white;
    }


	.activity_subtitle {
		font-size: 1.15em;
		font-weight: bold;
		border-bottom: 0.3px solid #ccc;
	}

	.activity_subcontainer {
		padding: 4px;
		margin-top: 5px;
	}

    .activity_subheader_item {
        flex-grow: 1;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }

    .activity_body.activity_body_fixed_height {
        height: calc(100vh - 143px);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .activity_subheader_item.activity_subheader_item_selected {
        color: white;
        border-bottom: 3px solid white;
    }

    .phone_activity_container.activity_with_planning_menu {
        z-index: 5;
    }


    p.colibri-fc-list-body {
		margin: 4px 0px 4px 15px;
		margin-left: 15px;
		background-color: white;
		padding: 4px 6px 4px 6px;
		border: 0.4px solid #2B384E;
		border-radius: 3px;
    }

    #index-container {
        width: 100% !important;
        margin: 0px !important;
        padding: 0px 3px 60px 3px ;
    }

    #post-lookup-container {
        padding: 5px;
        margin-bottom: 10px;
        border-bottom: 0.3px solid #ccc;
    }

    #lookup-button-container {
        margin-bottom:10px;
    }

    div.fc-list-empty-wrap2 {
        display: block !important;
    }

    #no-appointments-today {
        margin-top:-5px;
    }

    #no-appointments-date {
        line-height: 20px;
        border-bottom: 0.5px solid #ccc;
        font-size: 17px;
        color: #4F4F4F;
        font-weight: bold; 
        margin: 9px 5px 0px 5px; 
    }

    #no-appointments {
        text-align: center;
    }

    #planning-container {
        overflow-y: scroll;
    }

    .fc-toolbar.fc-header-toolbar {
        width: calc(100% + 6px);
        margin-top: 3px;
        margin-left: -3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    #posts-index-container {
        margin-bottom: 80px;
    }

    #index-table-container {
        margin-bottom: 80px;
    }

	#account-edit-body {
		padding: 0px;
    }
    
	#colibri-purpose {
		margin-top: 40px;
    }
    
    #colibri-covid {
        position: initial !important;
        right: initial !important;
        bottom: initial !important;
        margin-left: auto;
        margin-right: auto;
    }

    /* Completion Reports layouts */

    .completion-report-container {
        padding: 5px;
    }

    .completion-report-message-heading {
        display:flex;
        justify-content:space-between;
        font-size: 0.9em;
    }

    .completion-report-comment {
        border-top: 1px solid #2B384E;
        padding-top: 5px;
    }

    .completion-report-action {
        padding-top:6px;
        margin-top:6px;
        border-top:1px solid #ccc;
    }

    .completion-report-tasks {
        margin-bottom: 8px;
    }

    #japanese-query-date {
        font-size:1.3em;
        text-align:center;
        color: #212529;
        line-height: unset;
    }

    #more-planning-menu-items {
        position: fixed;
        background-color: #FBFDFB;
        padding-top:5px;
        padding-bottom:10px;
        z-index: 10000;
    }

    li.planning-menu-items.planning-menu-selected {
		color: rgb(115, 120, 124);
    }
    
    li.planning-menu-items:hover {
        color: rgb(115, 120, 124) !important;
    }

}