.align-right {
	float: right;
}

#payable-container {
	position: absolute;
	right: 0;
	width: calc(90vw - 55px);
	max-width: calc(100vw - 195px);
	margin-top: 15px;
	margin-bottom: 50px;
	margin-right: 5px;
	padding-left: 8px;
}

#payable-dashboard {
    display: flex;
    justify-content: center;
    align-items: center; 
}

p.payable-dashboard-line {
	margin-bottom: 5px;
}

.payable-dashboard-important {
	font-weight: bold;
	font-size: 1.3em;
}

.payable-dashboard-text-container {
	margin-left: 10px;
}

#payable-charts {
	display: flex;
	margin-bottom: 20px;
}

#toggle-patients-nurses {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7px;
}

#payable-download-button {
	margin-left: auto;
	margin-right: 0;
}

#payable-table-commands {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.sunday-holiday-provided-service {
	color: #ff304f;
}

.saturday-provided-service {
	color: #118df0;
}

.cancelled-provided-service {
	text-align: center;
	font-size: 1.15em;
	padding-bottom: 2px;
	padding-top: 2px;
	background-image: repeating-linear-gradient(45deg, #FFBFBF, #FFBFBF 5px, #FF8484 5px, #FF8484 10px) !important;
}

.edit-requested-provided-service {
	text-align: center;
	font-size: 1.15em;
	padding-bottom: 2px;
	padding-top: 2px;
    background-image: repeating-linear-gradient(45deg, #C8F6DF, #C8F6DF 5px, #99E6BF 5px, #99E6BF 10px);
}

#chosen_custom_email_days_chosen {
    width: 120px !important;
}

#nurse-details-button {
	margin-left: 10px;
}

.planning-nurse-module-title {
	min-width: 100px;
}

.planning-nurse-module-title:hover {
	cursor: pointer;
}

#resource-details-panel {
	background-color: white;
	position: absolute;
	right: 0px;
	top: 48px;
	width: 400px;
	box-shadow: -1px 1px 2px 0px #a0a7af ;
	z-index: 15;
	padding: 15px;
	border-left: 0.5px solid #ddd;
	height: calc(100vh - 50px);
	overflow-y: scroll;
}

.resource-details-block-title {
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 0.5px solid #ddd;
	margin-bottom: 4px;
	color: #4F4F4F;
}

.details-table-head {
	width: 20%;
}

.resource-detail-table {
	width: 100%;
}

.resource-detail-table > tr {
	width: 100%;
}

#resource-action-block {
	margin-top: 10px;
	margin-bottom: 20px;
}

.btn-light-custom {
	border: 0.5px solid #eee;
}

#resource-detail-header {
	border-bottom: 0.5px solid #ddd;
}

.close-button-span:hover {
	cursor: pointer;
}

#payable-query {
	font-size: 0.7em;
}

.refresh-button {
	margin-bottom: 3px;
	background-color: #bbb;
}

.refresh-button:hover {
	cursor: pointer;
}

.colibri-payable-subtitle {
	margin-top: 20px;
	margin-bottom: 8px;
	font-size: 1.2em;
	color: black;
	font-weight: bold;
}

@media print {
	#payable-container {
		margin: 0px;
		height: auto !important;
		overflow: visible;
	}
}