.ie9 img[src$=".svg"] {
  width: 100%; 
}

#colibri-pages-nav {
    background: white;
    color: black;
    z-index: 30;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0 4px 2px -2px #ccc;
    -moz-box-shadow: 0 4px 2px -2px #ccc;
    box-shadow: 0 4px 2px -2px #ccc;
}

a#brand-name {
    color: black;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pages-nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pages-nav-right {
    display:flex;
    justify-content: center;
    align-items: center;
}

#nav-login-button {
    margin-right: 8px;
    margin-left: 8px;
}

#colibri-mobile-nav {
    display: none;
}

#top-subsection {
    margin-bottom: 0px;
    padding: 70px 50px 0px 50px;
}

.colibri-security-head {
    display: flex;
}

#presentation-text {
    width:45%;
    padding-top:35px;
}

#colibri-presentation {
    padding: 60px 50px 60px 20px;
    color: #393e46;
    display: flex;
}

.colibri-home-presentation-title {
    font-size: 2.4em;
    line-height: 1.9em;
}

.white-background {
    background-color: white;
}

.light-blue-background-hp {
    background-color: #F7F9FE;
}

.middle-blue-background {
    background-color: #9BBDF9;
}

.section-title-container {
    width: 100%;
    text-align: center;
}

.colibri-section-title {
    font-size: 2.2em;
}

footer {
    background-color: #1B263B;
    color: white;
    padding: 70px 20px 80px 20px;
}

#colibri-footer {
    display: flex;
}

#footer-brand-container {
    width: 30%;
    text-align: center;
}

#footer-brand-name {
    font-size: 1.7em;
    color: #ff9090;
}

.footer-colibri-information-container {
    width: 40%;
    padding-left: 10px;
}

.footer-colibri-information-title {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.colibri-home-subsection {
    color: black;
    padding: 70px 50px 70px 50px;
    width: 100%;
}

.margin-md {
    margin: 20px;
}

.aligned-left-home {
    flex-direction: row-reverse;
}

.align-text-right-home {
    text-align: right;
}

.colibri-nav-dropdown {
    line-height:60px;
}

#colibri-nav-hamburger {
    display: none;
}

#colibri-mobile-menu {
    display: none;
}

.heroku-and-salesforce-body {
    font-size: 0.9em;
}

.home-subsection-content-container {
    margin-top: 30px;
    display: flex;
    width: 100%;
}

.colibri-subsection-content-container {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}

.home-subsection-subtitle {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.colibri-subsection {
    flex: 1;
    padding: 20px 15px 20px 15px;
}

#colibri-security-text {
    width: 70%;
}

#security-icon-container {
    width: 30%;
}

.colibri-security-icon {
    max-width: 100%;    
}

.colibri-subsection-centered {
	margin-bottom: 60px;
}

#heroku-and-salesforce {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: left;
}

.heroku-and-salesforce-logo {
    text-align: center;
    height: 80px;
}

#joinus-page-container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}


.heroku-and-salesforce-content {
    max-width: 300px;
    border-radius: 5px;
    margin: 8px;
    padding: 20px;
    background-color: #efefef;
}

.home-subsection-content {
    height: 100%;
    width: 50%;
}

.shadowed-img {
    box-shadow: 0px 0px 30px 6px #bbb;
    max-width: 100%;
}


.flex-1 {
    flex: 1;
}

.add-margin-left-md {
    margin-left: 20px;
}

.ul-left > li {
    list-style-type: circle;
    text-align: left;
    padding-left: 0pt;
}

.list-style-p {
    margin-bottom: 0px;
}

.list-style-p::before {
    content: '•';
    color: left;
}

.colibri-subsection-icon {
    padding:20px;
}

.colibri-home-subsection-title {
    display: block;
}

.colibri-sm-subsection-title {
    font-size: 1.9em;
    display: block;
}

.home-subsection-image-container {
    width: 50%;
    height: 100%;
    text-align: center;
}

.colibri-merits-subsection {
    color: white;
    padding: 60px 10px 30px 10px;
}

.colibri-merits-subsection > div {
    margin-top: 30px;
}

.colibri-merits-subsection > div > p {
    font-size: 1rem;
    line-height: 1.6rem;
}

.align-text-center {
    text-align: center;
}



.colibri-merits {
    margin-top: 20px;
    font-size: 1.4em;
}

.colibri-about-us {
    padding: 20px 10px 60px 10px;
}

.colibri-about-us > p {
    text-align: center;
    font-size: 1.3em;
}

.founders-container {
    display: flex;
}

.colibri-founder {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colibri-self-photo-container {
    width: 25%;
}

.founder-bio {
    margin-top: 20px;
    width: 45%;
    min-width: 100px;
}

.founder-bio-important {
    font-size: 1.3em;
}

.home-page-text-box {
    padding: 60px 10px 60px 10px;   
    width: 100%;
}

.home-page-text-box > div {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.contact-us-button-container {
    padding: 20px 10px 60px 10px;
    text-align: center;
}

#colibri-blog-link {
    margin-right:20px;
    font-size:1.2em;
    text-decoration:underline;
}

#shift-issue-details {
    font-size:0.7em;
    max-width:50%;
}

#presentation-images-banner {
    width: 55%;
}

#colibri-logo {
    margin-left:12px;
    margin-top:3px;
}

#colibri-issues-head {
    text-align: center;
    font-size: 1.5em;
}

#colibri-issues-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#colibri-issues {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.issue-container {
    flex: 1;
    max-width: 300px;
    background-color: #FAFF81;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.issue-container:hover {
    box-shadow: 0px 0px 4px 4px #eee;
}

.issue-body {
    margin-bottom: 30px;
}

.issue-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.home-subsection-detailed-content {
    display: flex;
}

.detailed-content-container {
    margin: 20px;
    flex: 1;
}

.detailed-content-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3em;
    line-height: 35px;
    vertical-align: middle;
}

#colibri-nav-container {
    height:100%;
    margin-left: 35px;
    font-size: 1em;
    display:flex;
    justify-content: left;
    align-items: center;
    color: #393e46;
}

.dropdown-toggle.colibri-nav-li {
    padding-right: 15px;
    padding-left: 5px;
}

.colibri-nav-li {
    height: 100%;
    line-height: 60px;
}

.colibri-nav-hover:hover {
    background-color: #f3f7f7;
    cursor: pointer;
    color: black;
}

.colibri-vertically-centered-a {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-centered-vertically {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-centered-vertically > a {
    display: block;
    height: 62px;
    text-align: center;
    vertical-align: middle;
    line-height:60px;
}

@media screen and (orientation: portrait) {
    

    #blog-link-container {
        margin-top: 13px;
    }

    #colibri-banner-text {
        max-width:90%;
    }

    .align-text-right-home {
        text-align: left;
    }

    .home-subsection-content {
        width: 100%;
        flex: 2;
    }

    .home-subsection-content-container {
        flex-direction: column;
    }

    .colibri-merits-subsection > div > p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 2em;
    }

    .home-page-text-box > div {
        max-width: 90%;
    }

    .colibri-self-photo-container {
        width: 50%;
    }

    .founder-bio {
        margin-top: 30px;
        width: 90%;
    }

    .founder-bio > p {
        line-height: 1.3em;
    }

    #footer-brand-name {
        font-weight: bold;
    }


    .home-subsection-image-container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }   
}