.hide-resource {
	display: none;
}

.toggle-active-selected {
	font-weight: bold;
	border-bottom: 2.5px solid #85929E;
	color: #85929E;
}

.toggle-active-element {
	font-size: 1em;
	color: #85929E;
}

.patients-submenu {
	display:flex;
	justify-content:space-between;
	margin-top:30px;
}


.toggle-active-element:hover {
	font-weight: bold;
	border-bottom: 2px solid #5f6368;
	color: #5f6368;
	cursor: pointer;
}

#patient-dashboard {
	height: 165px;
}

.patient-dashboard-panel {
	border: 0.5px solid #ccc;
	border-radius: 3px;
}

#payable-menu {
	display: none;
}

.patient-left-panel {
	width:calc(75% - 5px);
	margin-right:5px;
}

.patient-right-panel {
	width:34%
}

.patient-right-panel > div.patient-dashboard-panel-body {
	overflow-y: auto;
}

.patient-dashboard-panel-title {
	margin: 3px;
	border-bottom: 0.5px solid #ccc;
}

.patient-dashboard-panel-body {
	height: 135px;
	overflow-y: hidden;
	overflow-x: auto;
	margin: 3px
}

.patient-management-item:hover {
	background-color: #f4f7f7;
	color:#757575;
}

.patient-management-item.selected {
	color:#757575;
	border-bottom: 3px solid rgb(122, 213, 222);
}