.post-container {
    padding: 5px;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-author-wrapper {
    font-size: 0.85em;
}

.post-timestamps-wrapper {
    color: grey;
    font-size: 0.85em;
}

.post-body {
    background-color: #defcfc;
    border-radius: 2px;
    padding: 3px 7px 5px 7px;
}

.post-body.unread-post {
    background-color: #BEFFB7;
}

.post-body.unread-post.reminderable-post {
    background-color: #FFCAD4;
}

.post-clickable-row:hover {
    cursor: pointer,
}


@media print {
    
  table#post-table > tbody::after {
    content: '';
    display: block;
    page-break-after: always !important;
    page-break-inside: avoid;
    page-break-before: avoid;
  }

  tbody.break-page-on-print {
    break-after: page !important;
    page-break-after: always !important;
  }


}
