<footer>
  <div id="colibri-footer">
    <div id="footer-brand-container">
        <%= image_tag 'colibri_logo_white.svg', size: '55', style: 'margin-left:6px' %>
        <div id="footer-brand-name">Colibri</div>
    </div>
    <div class="footer-colibri-information-container">
        <div class="footer-colibri-information-title">連絡先</div>
        <div class="footer-colibri-information">
            info@colibri.jp <br/>
            〒211-0025神奈川県川崎市中原区木月4-46-18 <br/>
            <%= image_tag('line_qr.png', style: "margin-top: 5px", width: '65px') %>
        </div>
        <div class="footer-colibri-information-title" style="margin-top:25px;">その他</div>
        <div class="footer-colibri-information">
            <a href="/pages/privacy" style="text-decoration:underline">プライバシーポリシー</a>
        </div>
    </div>
    <div class="footer-colibri-information-container">
        <div class="footer-colibri-information-title">ブログ</div>
        <div>
            <a href="https://colibri.hatenablog.jp/" target="_blank" style="color:white;text-decoration:underline">https://colibri.hatenablog.jp/</a>
        </div>
    </div>
  </div>
</footer>