<footer>
  <div id="colibri-footer">
    <div id="footer-brand-container">
        <div id="footer-brand-logo"></div>
        <div id="footer-brand-name">Colibri</div>
    </div>
    <div id="footer-colibri-information-container">
        <div id="footer-colibri-information-title">連絡先</div>
        <div id="footer-colibri-information">
            info@colibri.jp <br/>
            〒211-0025神奈川県川崎市中原区木月4-46-18 <br/>
        </div>
    </div>
  </div>
</footer>