<div id="colibri-batch-action-button" class="no-print batch-action-button">
    <div class="colibri-glyphicon-container">
        <span class="glyphicon glyphicon-pencil batch-action-pencil"></span>
        <div id='batch-action-menu' style="display:none">
            <span class="glyphicon glyphicon-th-list" style="color:#85929E;font-size:1.2em"></span><%= link_to '  調整中リスト', new_appointments_batch_request_edit_path, remote: true, style: 'color:#606E7C ;font-size:1.2em' %><br/>
            <span class="glyphicon glyphicon-remove" style="color:#85929E;font-size:1.2em"></span><%= link_to '  キャンセル', new_appointments_batch_cancel_path, remote: true, style: 'color:#606E7C ;font-size:1.2em' %><br/>
            <span class="glyphicon glyphicon-trash" style="color:#85929E;font-size:1.2em"></span><%= link_to '  削除', new_appointments_batch_archive_path, remote: true, style: 'color:#606E7C ;font-size:1.2em' %><br/>
        </div>
    </div>
</div>


