<div id="wished-slots-toggle-switch" style="margin-right:5px;margin-left: 5px">
	<div id="toggle-switch-recurring-appointments" class="no-print btn btn-colibri-light-gray colibri-toggle-switch">
		<div style="display:inline-block" class="colibri-toggle-text-left">サービス追加</div>
		<div class="btn btn-light colibri-toggle-handle colibri-handle-left"></div>
	</div>
	<div id="toggle-switch-wished-slots" class="no-print btn btn-colibri-light colibri-toggle-switch" style="display:none">
		<div class="btn colibri-toggle-handle colibri-handle-right" style="background-color:white"></div>
		<div style="display:inline-block" class="colibri-toggle-text-right">シフト希望日</div>
	</div>
</div>