<div id="drag-drop-master" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">サービスのコピー.移動</h1>
				<button type="button" data-dismiss="modal" class="close close-drag-drop-modal">&times;</button>
			</div>
			<div class="modal-body">
				<p>新規データ：</p>
				<div id="drag-drop-master-content"></div>
			</div>
			<div class="modal-footer">
				<div class="btn btn-colibri-light btn-pointer close-drag-drop-modal">キャンセル</div>
				<div class="btn btn-info text-white btn-pointer" id="master-drag-move">移動する</div>
				<div class="btn btn-info text-white btn-pointer" id="master-drag-copy">コピーする</div>
			</div>
		</div>
	</div>
</div>