<div id="nurse-conflict-confirm" title="従業員重複オプション">
	<p><span id="nurse-conflict-days">その日の従業員が重複してます。</span></p>
	<p>重複してるサービスを調整中リストへ追加し、サービスを登録する。</p>
</div>
<div id="nurse-overlap-modal" class="modal fade" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="colibri-small-title">従業員重複オプション</h1>
				<button type="button" data-dismiss="modal" class="close">&times;</button>
			</div>
			<div class="modal-body">
				<div id="nurse-overlapping-days"></div>
				<div>重複してるサービスを調整中リストへ追加し、サービスを登録する。</div>
			</div>
			<div class="modal-footer">
				<div class="btn btn-colibri-light btn-pointer" data-dismiss="modal" id="nurse-revert-overlap">キャンセル</div>
				<div class="btn btn-info text-white btn-pointer" id="nurse-overlap-override">セーブする</div>
			</div>
		</div>
	</div>
</div>