<div id="unavailability-toggle-switch" style="margin-right:5px;margin-left: 5px">
	<div id="toggle-switch-appointments" class="no-print btn btn-info colibri-toggle-switch">
		<div style="display:inline-block" class="colibri-toggle-text-left">サービス追加</div>
		<div class="btn btn-light colibri-toggle-handle colibri-handle-left"></div>
	</div>
	<div id="toggle-switch-unavailabilities" class="no-print btn btn-colibri-light-red colibri-toggle-switch" style="display:none">
		<div class="btn btn-light colibri-toggle-handle colibri-handle-right"></div>
		<div style="display:inline-block" class="colibri-toggle-text-right">サービス以外</div>
	</div>
</div>