<%= render 'layouts/planning_menu' %>

<div class="colibri-devise-form">
	<p class="colibri-devise-title">新規スケジュール</p>
	<%= render 'form', planning: @planning %>

	<%= link_to '戻る', plannings_path %>
</div>


